body{
    background-color: #bdd1df;
}
.navbar,.navbar-expand{
    background-color: white;
}
.custom-input-group {
    height: 40px;
}
.custom-input-group .form-control {
    height: 100%;
    padding: 0.5rem 0.75rem;
}
.custom-input-group .input-group-append .input-group-text {
    height: 100%;
}
hr{
    margin-top: 0;
    color: #999595;
}
.modal-body form .form-group, .col-md-12{
    margin-bottom: 5%;
}
.modal-body form .form-group label{
    margin-bottom: 2%;
}
#taskCardsRow{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.col-lg-3,.mt-3{
    width: 32%;
}